body {
    box-sizing: border-box;
    font: 400 20px/1.5 'Source Sans Pro',Open Sans,Roboto,Helvetica,Arial,sans-serif;
    color: #333;
    margin: 0;
    background-color: #999
}
.flexi-box{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
}
#check {
  fill: none;
  stroke: green;
  stroke-width: 20;
  stroke-dasharray: 180;
  stroke-dashoffset: 180;
  -webkit-animation: draw 2s  ease;
  animation: draw 2s  ease;
  animation-fill-mode: forwards;
}
@keyframes draw {
  to {
    stroke-dashoffset: 20;
  }
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
#parallelogram {
	width: 120px;
	height: 30px;
	-webkit-transform: skew(30deg);
  transform: skew(30deg);
  -moz-transform: skew(30deg);
  -o-transform: skew(30deg);
	background: red;
  z-index: -3;
}
.shadow{
  -moz-box-shadow: 1px 3px 4px 5px #ccc;
  -webkit-box-shadow: 1px 3px 4px 5px #ccc;
  box-shadow: 1px 3px 4px 5px #ccc
}
.shape-shadow{
  -moz-box-shadow: 1px 6px 4px 5px #444;
  -webkit-box-shadow: 1px 6px 4px 5px #444;
  box-shadow: 1px 6px 4px 5px #444;
  align-content: center;
}

header,#main,footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

h1,h2,h3,h4,h5 {
    font-weight: 400
}

a,a:link,a:active {
    color: #833;
    text-decoration: none;
    border-radius: 2px
}


a:hover {
    color: #fff;
    background-color: #322
}

p a {
    padding-left: 2px;
    padding-right: 2px;
    margin-left: -2px;
    margin-right: -2px
}

body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    margin: 0
}

header {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    overflow: hidden
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}

.main-entry a:hover{
  background-color:transparent;
  color: #833;
  
}
.list-divider-pipe {
    margin: 0;
    padding: 0;
}

.list-divider-pipe li {
    display: inline-block;
}

.list-divider-pipe li + li:before {
    content: '|';
    padding: 0 .3em 0 .1em;
    color: #999
}
.green-light{
  color: forestgreen;
}
.red-light{
  color: firebrick;
}

@media screen and (max-width: 480px) {
    nav .list-divider-pipe {
        margin-bottom:1rem;
        overflow: hidden;
    }

    nav .list-divider-pipe li + li:before {
        display: none
    }
}

header {
    background-color: #333;
    text-align: center;
}

header > .container {
    overflow: visible
}

header li {
    position: relative
}

header nav a,header nav a:link,header nav a:active, .test {
    padding: 0 8px;
    text-transform: uppercase;
    font-size: 14px;
    color: #ccc !important
}

header nav a:hover {
    background-color: transparent;
    text-decoration: underline
}

@media screen and (min-width: 481px) {
    header li {
        padding-bottom:12px;
    }

#home-intro {
    max-width: 1000px;
    width:100%;
    margin: 0 auto;
    padding-top: 30px;
    text-align: left
}

html {
    scroll-behavior: smooth
}
ul{
  list-style-type:none;
}  

