
<div class="col-md-9">
<h1>Welcome to the Student Trackr</h1>
<h3 class="main-entry">Students, click <a class="shake shake-hard shake-constant hover-stop" ui-sref="students"> here </a> to select your name and check in.</h3>
<h4>Teachers, select your name above <span class="glyphicon glyphicon-arrow-up shake shake-vertical shake-slow shake-constant"></span> to view your students who are present.</h4> 
</div>

<div class="col-md-3">
    <div class="container" style="margin-top:25%" ><svg id="" z-index="1" width="150" height="100"><path id="check" d="M10,30 l30,50 l95,-70" /></svg>
    </div>  
  </div>