<div ng-init="showTeachers = false">
	<div ng-show="students.length && !showTeachers">
		<h1>Students</h1>
			<span ng-click="showTeachers = true">
				<p1 ng-repeat="item in students">
					<a ui-sref='studentCheckIn({studentId: item.id})'>{{item.name}}</a>
				<br />
			</span>
	</div>
	<div ng-hide="showTeachers" class="row">
		<div class="col-md-12">
			<h3>Don't see your name?</h3>
			<form ng-submit="StudentsFactory.addStudent()" class="form-inline" role="form">
				<div class="form-group">
					<label for="user_student">Enter it here:</label>
					<input class="form-control" id="user_student" ng-model="StudentsFactory.studentName" placeholder="Enter Name" required><br />
					<div class="form-group">
							<label for="student_teacher">Select a teacher for your student:</label>
							<select ng-init="StudentsFactory.studentTeacher = teachers[0]" class="form-control" ng-model="StudentsFactory.studentTeacher"
							id="student_teacher" required>
							<option class="form-control" id="student_teacher" ng-repeat="teach in teachers" required>{{ teach }}</option>
						</select>
					</div><br />
					<button type="submit" class="btn btn-warning btn-large">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div ui-view="body"></div>
<!-- BACK BUTTON shows up when student.teachers view renders -->
<div class="col-md-9" ng-click="showTeachers = false" ng-show="showTeachers">

	<a ui-sref="home" class="button btn btn-primary home-button-toggler">Back</a>

</div>
