<div class="container" ng-show="showTeachers" ng-model="toggleCheck">
	<div class="flexi-box">
		<!-- toggle present value section -->
			<div class="form-group" ng-model="togglePresent">
				<p1>{{ student.name }}  </p1>
				<input  class="form-control" ng-click="togglePresent()" type="button" ng-model="togglePresent" value="{{ student.present ? 'You\'re Here!':'Check in'}}">
			</div>

			<span ng-model="toggleCheck" ng-show="studentCheck()" style="margin-left:50%" >
				<svg id="" z-index="1" width="150" height="100">
					<path id="check" d="M10,30 l30,50 l95,-70" />
				</svg>
			</span>  

	</div>
</div>	