<div ng-init="showTeachers = false">
	<div ng-show="students.length && !showTeachers">
		<h1>Students</h1>
			<span ng-click="showTeachers = true">
				<p1 ng-repeat="item in students">
					<a ui-sref='students.teachers({ studentId: item.id})'>{{item.name}}</a>
				<br />
			</span>
	</div>
	<div ng-hide="showTeachers" class="row">
		<div class="col-md-12">
			<h3>Don't see your name? Enter it here:</h3>
			<form ng-submit="StudentsFactory.addStudent()" class="form-inline" role="form">
				<div class="form-group">
					<input class="form-control" id="user_student" ng-model="StudentsFactory.studentName" placeholder="Enter Name" required><br />
					<div class="form-group">
						<select ng-init="StudentsFactory.teachers[0]" class="form-control" ng-model="StudentsFactory.studentTeacher" id="student_teacher" required>
							<label for="student_teacher">Select a teacher for your student</label><br>
							<option ng-repeat="teach in teachers" required>{{ teach }}</option>
						</select>
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div ui-view></div>
<!-- BACK BUTTON shows up when student.teachers view renders -->
<span ng-click="showTeachers = false" ng-show="showTeachers">
	
	<button>Back</button>
</span>
